<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Juan's Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- name -->
<h1 > My name is Juan Carbajal </h1>

<!-- picture -->
<img src = "/../Beta/src/assets/juan.jpg" width = "325" height = "400" >

<!-- hobby 1 -->
<p> My first favorite hobby is playing and watching soccer. Some of the best memories of my childhood were spent on a soccer field. I've grown up to watch it more often now and keeping up with my favorite teams is incredibly entertaining. </p>

<!-- hobby 2 -->
<p> My second favorite hobby is running. I was obsessed with long distance runs when I was a lot younger. I look forward to returning to marathon running after college. </p>

<!-- hobby 3 -->
<p> My third favorite hobby would have to be writing at least once a day for 30 minutes. I try to make this a habit to exercise creative writing or even just for fun. I find myself writing thoughts down sometimes, other times I'll do some sudoku, or even read and reflect. </p>

<!-- link 1 -->
<a href = "https://www.youtube.com/">YouTube</a>

<!-- link 2 -->

<a href = "https://www.geeksforgeeks.org/">GeeksforGeeks</a>

<!-- link 3 -->

<a href = "https://www.reddit.com/">Reddit </a>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
