<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/img/profile_pic.jpg" />
    <ion-card-header>
      <ion-card-title>Asarel Castellanos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        One of the things I love to do in my spare time is to play video games.
        I've been playing League of Legends for about three years now. I also
        play COD, FIFA, 2K. Currently I am trying to get back into CSGO and I
        want to play Valorant, a new FPS shooter from Riot Games.
      </p>
      <p>
        Another thing I like to do in my spare time is to play soccer with my
        friends or practice soccer. I have been playing soccer all my life
        either with a team or just by myself. I also watch it when I can.
      </p>
      <p>
        Another thing I like to do in my spare time is to play the drums. I
        started to play the drums around middle school and haven't stopped
        since. I have been self taught a bit and had someone teach me. I started
        to play because some of my family are musicians and they encouraged me.
      </p>
      <a href="http://www.youtube.com">Youtube</a>
      <a href="http://www.reddit.com">Reddit</a>
      <a href="http://www.github.com">Github</a>
    </ion-card-content>
  </ion-card>
</ion-content>
